// Generates classes to assign animations
@mixin animation-classes($animation-name) {

  $directions-list: $anim-postfix-enter $anim-postfix-leave;
  $positions-list: top bottom left right;

  $directions-opposite-list: $anim-postfix-leave $anim-postfix-enter;
  $positions-opposite-list: bottom top right left;

  @each $direction in $directions-list {
    @each $position in $positions-list {

      $class-name: #{$animation-name}--#{$direction}-#{$position};

      .#{$class-name} {
        .direction-reveal__anim--#{$anim-postfix-enter} {
          animation-name: #{$class-name};
        }
      }

      $direction-opposite: nth($directions-opposite-list, index($directions-list, $direction));
      $position-opposite: nth($positions-opposite-list, index($positions-list, $position));
      $class-name-opposite: #{$animation-name}--#{$direction-opposite}-#{$position-opposite};

      .#{$class-name} {
        .direction-reveal__anim--#{$anim-postfix-leave} {
          animation-name: #{$class-name-opposite};
        }
      }

    }
  }

}



// Swing animation

@include animation-classes('swing');

// Default visible state after animation - used as start or end points for the keyframe animations
.direction-reveal [class*='swing--'] {
  perspective: 400px;

  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform: rotate3d(0, 0, 0, 0);
    animation-timing-function: $anim-easing-easeOutCubic;
  }
}

.swing--#{$anim-postfix-enter}-top, .swing--#{$anim-postfix-leave}-top {
  perspective-origin: center top;

  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform-origin: center top;
  }
}

.swing--#{$anim-postfix-enter}-bottom, .swing--#{$anim-postfix-leave}-bottom {
  perspective-origin: center bottom;

  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform-origin: center bottom;
  }
}

.swing--#{$anim-postfix-enter}-left, .swing--#{$anim-postfix-leave}-left {
  perspective-origin: left center;

  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform-origin: left center;
  }
}

.swing--#{$anim-postfix-enter}-right, .swing--#{$anim-postfix-leave}-right {
  perspective-origin: right center;

  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform-origin: right center;
  }
}


@keyframes swing--#{$anim-postfix-enter}-top {
  0% {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
}

@keyframes swing--#{$anim-postfix-leave}-top {
  100% {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
}

@keyframes swing--#{$anim-postfix-enter}-bottom {
  0% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
}

@keyframes swing--#{$anim-postfix-leave}-bottom {
  100% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
}

@keyframes swing--#{$anim-postfix-enter}-left {
  0% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}

@keyframes swing--#{$anim-postfix-leave}-left {
  100% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}

@keyframes swing--#{$anim-postfix-enter}-right {
  0% {
    transform: rotate3d(0, -1, 0, 90deg);
  }
}

@keyframes swing--#{$anim-postfix-leave}-right {
  100% {
    transform: rotate3d(0, -1, 0, 90deg);
  }
}



// Slide animation

@include animation-classes('slide');

.direction-reveal [class*='slide--'] {

  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform: translate3d(0, 0, 0);
    animation-timing-function: $anim-easing-easeOutQuad;
  }
}

@keyframes slide--#{$anim-postfix-enter}-top {
  0% {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slide--#{$anim-postfix-leave}-top {
  100% {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slide--#{$anim-postfix-enter}-bottom {
  0% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slide--#{$anim-postfix-leave}-bottom {
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slide--#{$anim-postfix-enter}-left {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slide--#{$anim-postfix-leave}-left {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}


@keyframes slide--#{$anim-postfix-enter}-right {
  0% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slide--#{$anim-postfix-leave}-right {
  100% {
    transform: translate3d(100%, 0, 0);
  }
}



// Slide from corner

@include animation-classes('roll-out');

.direction-reveal [class*='roll-out--'] {

  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    animation-timing-function: $anim-easing-easeOutQuad;
  }
}

@keyframes roll-out--#{$anim-postfix-enter}-top {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}

@keyframes roll-out--#{$anim-postfix-leave}-top {
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}

@keyframes roll-out--#{$anim-postfix-enter}-bottom {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
}

@keyframes roll-out--#{$anim-postfix-leave}-bottom {
  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
}

@keyframes roll-out--#{$anim-postfix-enter}-left {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}

@keyframes roll-out--#{$anim-postfix-leave}-left {
  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}


@keyframes roll-out--#{$anim-postfix-enter}-right {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

@keyframes roll-out--#{$anim-postfix-leave}-right {
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}



// Rotate animation

@include animation-classes('rotate');

.direction-reveal [class*='rotate--'] {
  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform: rotate(0);
    animation-timing-function: $anim-easing-easeOutQuad;
  }
}

.rotate--#{$anim-postfix-enter}-top, .rotate--#{$anim-postfix-leave}-top {
  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform-origin: left top;
  }
}

.rotate--#{$anim-postfix-enter}-bottom, .rotate--#{$anim-postfix-leave}-bottom {
  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform-origin: left bottom;
  }
}

.rotate--#{$anim-postfix-enter}-left, .rotate--#{$anim-postfix-leave}-left {
  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform-origin: left top;
  }
}

.rotate--#{$anim-postfix-enter}-right, .rotate--#{$anim-postfix-leave}-right {
  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform-origin: right top;
  }
}

@keyframes rotate--#{$anim-postfix-enter}-top {
  0% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate--#{$anim-postfix-leave}-top {
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate--#{$anim-postfix-enter}-bottom {
  0% {
    transform: rotate(90deg);
  }
}

@keyframes rotate--#{$anim-postfix-leave}-bottom {
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate--#{$anim-postfix-enter}-left {
  0% {
    transform: rotate(90deg);
  }
}

@keyframes rotate--#{$anim-postfix-leave}-left {
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate--#{$anim-postfix-enter}-right {
  0% {
    transform: rotate(-90deg);
  }
}

@keyframes rotate--#{$anim-postfix-leave}-right {
  100% {
    transform: rotate(-90deg);
  }
}



// Flip

@include animation-classes('flip');

.direction-reveal [class*='flip--'] {
  perspective: 800px;
  overflow: visible;

  .direction-reveal__anim--#{$anim-postfix-enter}, .direction-reveal__anim--#{$anim-postfix-leave} {
    transform: rotateX(0) rotateY(0); // Order must be the same as the animations
    animation-timing-function: $anim-easing-easeInOutQuad;
    animation-duration: $anim-duration*2;
    backface-visibility: hidden;
    z-index: 1;
  }
}

@keyframes flip--#{$anim-postfix-enter}-top {
  0% {
    transform: rotateX(180deg) rotateY(0);
  }
}

@keyframes flip--#{$anim-postfix-leave}-top {
  100% {
    transform: rotateX(180deg) rotateY(0);
  }
}

@keyframes flip--#{$anim-postfix-enter}-bottom {
  0% {
    transform: rotateX(-180deg) rotateY(0);
  }
}

@keyframes flip--#{$anim-postfix-leave}-bottom {
  100% {
    transform: rotateX(-180deg) rotateY(0);
  }
}

@keyframes flip--#{$anim-postfix-enter}-left {
  0% {
    transform: rotateX(0) rotateY(-180deg);
  }
}

@keyframes flip--#{$anim-postfix-leave}-left {
  100% {
    transform: rotateX(0) rotateY(-180deg);
  }
}

@keyframes flip--#{$anim-postfix-enter}-right {
  0% {
    transform: rotateX(0) rotateY(180deg);
  }
}

@keyframes flip--#{$anim-postfix-leave}-right {
  100% {
    transform: rotateX(0) rotateY(180deg);
  }
}
